//This is the joystick configuration file for customizing the way your joystick performs game tasks.
//Please do not add any extra commands in this file, only modify the commands provided.
//Please do not erase these top lines. These are here for guidance.
//Simply put the action, followed by an equals sign and the button number. Remember, BGT supports up to 128 buttons, starting from 0 to 127, 0 counting as 1. To get a button number use the joystick_setup executable included with the game, then try to press things on your joystick and see what BGT says. For example, on an Xbox controller, A is button 0, B is button 1, X is button 2, Y is button 3, etc.
fire=0
reload=2
jump=3
health=7
cordinates=4
//The rest depends on whether your joystick actually has an x and y axis, meaning it has a stick in which you can move up, down, left, or right. Also point of view works best too.